# Ignore all text files
*.txt

# Ignore all PDF files
*.pdf

# Ignore all executable files
*.exe
*.out
*.bin
*.app
*.run

# Ignore all object files
*.o

# Ignore other common backup or temporary files (optional)
*.tmp
*.log
*.bak

#Ignore json files
.json